/* Style the main title "Muse Dash" */

[data-testid="stAppViewContainer"]{
    background: linear-gradient(180deg, #FFFFFF 0%, #FAF0E6 100%); /* White to very light beige (almost white yellow) */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
}
[data-testid="stHeader"] {
    background-color: rgba(255, 255, 255, 0.9); /* Almost opaque white header */
    color: #333; /* Dark grey header text */
    border-bottom: 1px solid #eee; /* Very light grey bottom border */
    padding-bottom: 0.5em;
}
[data-testid="stSidebarUserContent"]{
    background: rgba(255, 255, 255, 0.8); /* Mostly opaque white sidebar */
    color: #333; /* Dark grey sidebar text */
}
[data-testid="stSidebar"] {
    background: rgba(255, 255, 255, 0.8); /* Mostly opaque white sidebar background */
    border-right: 1px solid #eee; /* Very light grey right border */
}
[data-testid="stElementContainer"]{
    background-color: transparent !important; /* Make containers clear */
    color: #333; /* Dark grey text in containers */
    border-radius: 0; /* Remove border radius */
    box-shadow: none !important; /* Remove shadow */
    margin: 0.5em auto;
    padding: 0.8em;
    text-align: center;
}



div.element-container h1 {
    color: #ff514b !important;
    font-size: 2.5em !important;
    text-align: center;
}

/* Style the sidebar header "Select a State" */
div.st-sidebar h2 {
    color: #d21919 !important;
    font-size: 1.8em !important;
    font-weight: bold !important;
}

/* Style the "Top 10 Artists" header in the left column */
div:nth-child(1) h2:nth-child(1) { /* Targeting the first h2 within the first column */
    color: #a60707 !important;
    border-bottom: 2px solid #6b0080;
    padding-bottom: 0.2em;
}

/* Style the "What if I add more things here" header below the table in the left column */
div:nth-child(1) h2:nth-child(3) { /* Targeting the third h2 within the first column */
    color: #FFA500 !important;
}

/* Style the "Subscription Type Distribution" header in the right column */
div:nth-child(3) h2:nth-child(1) { /* Targeting the first h2 within the third column */
    color: #800031 !important;
    text-align: center;
}

/* Style the "What if I add more things here" header below the chart in the right column */
div:nth-child(3) h2:nth-child(3) { /* Targeting the third h2 within the third column */
    color: #b44678 !important;
}


